.yo {
  color: #ffffff80;
}

.inn {
  background: linear-gradient(
    90deg,
    rgba(60, 123, 136, 0.1) 0%,
    rgba(60, 123, 136, 0.073769) 26.23%,
    rgba(60, 123, 136, 0.0600171) 39.98%,
    rgba(60, 123, 136, 0.0454562) 54.54%,
    rgba(60, 123, 136, 0.0346704) 65.33%,
    rgba(60, 123, 136, 0.0236149) 76.39%,
    rgba(60, 123, 136, 0.0133684) 86.63%,
    rgba(60, 123, 136, 0) 100%
  );
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}
